<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet"
	type="text/css"
	href="../static/pre.css">

	<title>Hanaa Zaqout</title>

</head>
<body>
	<p id="demo"></p>
	
	<h1 class="name">Hanaa Zaqout '-'</h1>
	<div class="hamtoor">
		<div class="hana" >
			 <img id="hanana" 
			 src="../static/hana.png"style="width:320px;" />
		</div>
		<div class="hana">
			 <img src="../static/hana2.jpg"style="width:290px;" />
		</div>
		<div class="hana">
			 <img src="../static/hana3.png"style="width:300px;" />
		</div>
		<div class="hana">
			 <img src="../static/hana5.png"style="width:370px;" />
		</div>
	</div>
<br></br>

<button id="hello" onclick=info() >about me</button>
<div class="nesma">
<h3 id="header"></h3>
<h3 id="head"></h3>
<h3 id="hea"></h3>


</div>
	<div class="myName">
		<p>Fun facts about me:</p>
		<ul>
	<li>My nickname is Hamtaroo.</li>
	<li>I have played chess since forth grade.</li>
	<li>I made shampoo in science club in ninth grade</li>
	<li>I had a tortoise for 4 years.</li>
</ul>
<p>My favorite website is<a href="https://www.canva.com/"target="_blank">Canva</a></p>

	</div>
<button id="but" onclick=changeimg() >choose first one</button>
<button id="bu" onclick=changeimage() >choose second one</button>


</div>
<script src="../static/pro.js"></script>
</body>
</html>